# 忽略所有 .mp3 文件
*.mp3
*.mp4
*.m3u8
*.pickle
*.bin
*.exe
*.pt
*.csv
*.xlsx

# 忽略 /tmp_ignore_sync 目录下的所有文件
*/tmp_ignore_sync/*
tmp_ignore_sync/*
spider/mitm_url.txt
spider/__pycache__/mitm_script.cpython-39.pyc
/tmp_ignore_sync/*
*.pyc
/framework/train_data/*

/本科/*
# /data_label_tool/app/data/*
*.cfg
*.DS_Store
.DS_Store
batch_my_model/0327第一批1952篇_补充好_step2_整合.json
batch_my_model/0327第一批1952篇_补充好_step2.json
batch_my_model/0327第一批1952篇_补充好_step3_整合.json
batch_my_model/0327第一批1952篇_补充好_step3.json
batch_my_model/0327第一批1952篇_补充好_step4_整合_带flat.json
batch_my_model/0327第一批1952篇_补充好_step4_整合.json
batch_my_model/0327第一批1952篇_补充好_step4.json
batch_my_model/0327第一批1952篇_补充好.json
batch_my_model/0327第一批1952篇_补充好_step2.json
*/.pkl
/framework/logs/*