# 忽略所有 .mp3 文件
*.mp3
*.mp4
*.m3u8
*.pickle
*.bin
*.exe
*.pt
*.csv
*.xlsx

# 忽略 /tmp_ignore_sync 目录下的所有文件
*/tmp_ignore_sync/*
spider/mitm_url.txt
spider/__pycache__/mitm_script.cpython-39.pyc
/tmp_ignore_sync/*